.filter-container {
  padding: 10px;


  .base-filter-component {
    position: relative;
    width: 100%;
    .filter-title {
      color: $color-grey;
      font-size: 20px;
    }
    .icon-element {
      position: absolute;
      font-size: 8px;
      right: 0;
      top: 4px;
      color: $color-hover;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
