.about {
  width: auto;
  height: auto;
  float: none;
  padding-right: 65px;
  padding-left: 15px;
  overflow: hidden;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  margin-bottom: 40px;

  .logo {
    text-align: left;
    height: auto;
    display: inline-block;
    margin: 20px 0;

    &:hover {
      cursor: pointer;
    }
  }

  .content-app {
    text-align: center;
    height: auto;
    display: inline-block;
    margin: 21px 0;
    .content-heading {
      text-align: left;
    }

    .content-description {
      color: $color-grey;
      text-align: left;
    }
  }

  .media {
    height: auto;
    text-align: right;
    display: inline-block;
    margin: 30px 0;
    color: $color-grey;

    &:hover {
      cursor: pointer;
    }
  }
}
